html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px auto;
  padding: 4px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 0;
  color: black;
}

a:hover {
  color: aqua;
}

header {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

section {
  width: 85%;
  margin: 0 auto 5%;
}

.section-header,
.sub-header {
  text-align: center;
}

nav {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  width: 85%;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  margin: 4px auto;
}

.recent-posts {
  margin-bottom: 10%;
}

.recent-posts-header {
  text-align: center;
}

.recent-posts-container {
  display: flex;
  flex-direction: row;
}

.container,
.about-header {
  position: relative;
  height: 50%;
  margin: auto;
}

.overlay {
  background: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
}

.hero-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  z-index: 3;
  margin: 0;
}

.recent-posts-card {
  padding: 4px;
  margin: 4px;
  width: calc(100% / 3);
  border-radius: 5px;
}

.recent-posts-card:hover {
  z-index: 5;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.time {
  text-align: justify;
  line-height: 1.5;
  width: 85%;
  margin: 16px auto 0;
}

.post-paragraph,
.about-paragraph {
  width: 85%;
  margin: 16px auto 0;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}

footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  background-color: white;
  color: black;
}
